<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Squaresville.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>798E113D1E8E95A800E29853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798E11561E8E95A800E29853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798E11611E8E95A800E29853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
